[Unit]
Description=Eploy Service - making your deployement easy
Documentation=https://example.com
After=network.target

[Service]
ExecStart=/usr/bin/node /usr/lib/node_modules/eploy/lib/start-daemon.js
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
